<div class = "box" style="padding-top:20px;">
<h1 style="text-align:center;">Password Generator</h1>

<div>
<label>Length</label> <br>
<input class="input" (input)="onChangeLength($event.target.value)" type=text />
</div>
<br>
<div style="padding-top:10px;">
<input class="checkbox" type="checkbox"  (change)="useLetterChange()"/>
<label>Use letters</label>
</div>
<div style="padding-top:10px;">
<input class="checkbox" type="checkbox" (change)="useNumberChange()" />
<label>Use Numbers</label>
</div>
<div style="padding-top:10px;">
<input class="checkbox" type="checkbox" (change)="useSymbolChange()" />
<label>Use Symbols</label>
</div>
<br>
<button [disabled]="!(length && (useLetter || useNumber || useSymbol))" type="submit" (click)="generate()">
Generate
</button> <br> <br>

<div *ngIf = "password">
<label>Your password</label> <br>
<input class="input" type="text" [value] = "password"/>
</div>


</div>